* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $blue;
}

ul {
  list-style: none;
}

a {
  text-decoration:none;
}
