header {
  height: calc(#{$s-20 * 3} + #{$s-10});
  background-color: $l-blue;
  @include container;
  .container {
    height: $p-100;
    @include flex;
    img {
      height: 50px;
    }
  }
}
