main {
  padding: 100px 0;
  background-color: $blue;
  @include container;
  .container {
    @include flex;
    flex-wrap: wrap;
    .box {
      margin: 10px 20px;
      padding: 20px;
      height: 450px;
      width: calc(100% / 3 - 40px);
      background-color: $l-blue;
      text-align: center;
      img {
        max-width: $p-100;
      }
      .title {
        margin: 20px 0;
        color: white;
        text-transform: uppercase;
        font-size: 24px;
      }
      .author, .year {
        color: grey;
      }
    }
  }
}
