@mixin container {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

@mixin flex($justify:flex-start, $align:center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
